@{
    ViewData["Title"] = "Inicio";
}

<section class="hero">
    <div class="hero-content">
        <div class="hero-texto">
            <h1>ABBYSS</h1>
            <p>Tatto studio</p>
            <a href="/Trabajo/Galeria" class="btn-primario">Ver Trabajos</a>
        </div>
        <div class="hero-imagen">
            <img src="~/imagenes/imagen-hero.png" alt="Alternate Text" />
        </div>
     </div>
</section>