<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body>
    <header>
        @* <a href="/">Noré</a> *@
        <h1>Noré</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/Trabajo/Galeria">Trabajos</a>
            <a href="/Home/Contacto">Contacto</a>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year - Noré Tattos</p>
    </footer>
</body>

</html>
